@maincolor: #dff9fb;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  background: #2c3e50;
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    width: 360px;
    height: 420px;
    border: 5px solid #95afc0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: @maincolor;
    #stage {
      position: relative;
      width: 304px;
      height: 304px;
      border: 2px solid #aaa;
      .placeholder {
        position: absolute;
        width: 304px;
        height: 304px;
        opacity: 0.1;
        text-align: center;
        line-height: 304px;
        font-size: 40px;
        transform: rotateZ(-45deg);
      }
      #snake {
        div {
          position: absolute;
          width: 10px;
          height: 10px;
          background-color: #000;
          border: 1px solid @maincolor;
          &:nth-child(1) {
            background-color: #05c46b;
          }
        }
      }
      #food {
        position: absolute;
        width: 10px;
        height: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: space-between;
        div {
          width: 4.2px;
          height: 4.2px;
          background-color: red;
        }
      }
    }
    #score_panel {
      width: 304px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .btn_open {
        width: 50px;
        height: 30px;
        background-color: salmon;
        border-radius: 3px;
        color: #fff;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
        transition: 1s;
        &:hover {
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}
